---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Regarding the head of the Institute"
	pubDate={new Date('August 08 2021')}
	heroImage="/not one.jpg"
>

	<p>
		This website is inspired by Brian Eno's idea of "scenius" which as opposed to "genius" is a process of 
		making art which involves a community rather than a single person. Which is what we strive to become, 
		a scenius which would produce artforms of all sort. 
	</p>
	<p>
		Not One as you have guessed is not my real name; neither it is my pseudonym or pen name.
		It is meant to serve more as a symbol of a community which is "not one" i.e many. A 
		group of people who solve problems and do things collectively. Who are not bound by 
		the constriants of a singular number. And hence they lead this place.
	</p>
	<p>
		Due to the lack of time that this community has got it has sadly not been able to have 
		as many members as it should have to be amply functional. But as I believe, in a not 
		so long amount of time it will have.
	</p>

	
</Layout>
