---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
            <p>Previous contacts</p>
            <form>
			    <input placeholder="Speak your mind"/>
                <button type="submit">Send</button>
            </form>
        </main>
		<Footer />
	</body>
</html>

<style>
    input {
        padding: 10px;
        border-radius: 5%;
        border-style: none;
        width: 100%;
    }
    button {
        height: 3rem;
        width:4rem;
        margin:1rem;
        background-color: rgb(255, 255, 255);
        color: black;
    }
    button:hover {
        background-color: aliceblue;
        font-size: 1rem;
    }
</style>
