---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1> Let's work together!</h1>
			<p>
				You've reached the official website of the Transcendental Institute of Politics and Philosophy.
				Which ideally is a <a href="https://en.wiktionary.org/wiki/scenius">scenius</a> made for all 
				those people who want to share and learn.
			</p>
			<p>
				This project is an effort to make a willing community of contributers who contribute to subjects of their interests
				and make <strong>something useful together</strong>.
			</p>
			
			<p>
				You can direct any thoughts you have for me <a href="/contact">here</a>.
			</p>
			<p>More about me <a href="/about">here</a></p>
		</main>
		<Footer />
	</body>
</html>
